<div class="menu">
</div>

<img class="iconePerfil" src="assets/icon/iconePerfil.png" />

<div class="cardPerfil">
  <div class="editaPerfil">
    <input type="text" name="nome" class="camposCadUsuario" placeholder="Nome" />
  </div>
</div>

<label class="informacao">Informação</label>

<hr class="borda">

<div class="cadSubPerfil">
  <label class="labelCardPerfil">Email</label>
  <div class="cardSubPerfil">
    <input type="text" name="Email" class="camposCadPerfil" placeholder="Email" />
  </div>
  <label class="labelCardPerfil">Endereço</label>
  <div class="cardSubPerfil">
    <input type="text" name="Endereco" class="camposCadPerfil" placeholder="Endereco" />
  </div>
  <label class="labelCardPerfil">Estado</label>
  <div class="cardSubPerfil">
    <input name="text" class="camposCadPerfil" placeholder="Estado" />
  </div>
  <label class="labelCardPerfil">Cidade</label>
  <div class="cardSubPerfil">
    <input type="Cidade" name="Cidade" class="camposCadPerfil" placeholder="Cidade" />
  </div>
  <label class="labelCardPerfil">Data</label>
  <div class="cardSubPerfil">
    <input type="date" name="Data" class="camposCadPerfil" />
  </div>
</div>

<div id="btnSalvar" class="botaoSalvar">
    <span class="textoBtnSalvar">Salvar</span>
  </div>