<div class="menu">
</div>

<img class="iconeMenu" src="assets/icon/iconeMenu.png" />
<img class="imgLixo" src="assets/icon/lixoPraia.jpg" />

<div class="infEvento">
    <label class="mes">SET<br></label>
    <label class="data">28</label>
</div>

<label class="nomeEvento">Limpeza da praia de <br>Guaratuba</label>

<div class="confirmacao">
    <main>
        <div class="liga-desliga">
            <input type="checkbox" class="liga-desliga-checkbox" id="liga-desliga">
            <label for="liga-desliga" class="liga-desliga-botao"></label>
        </div>
    </main>
</div>

<div class="cardEvento">

    <label class="discussao">Discussão</label>

    <hr class="borda">

    <div class="comentario">
        <input type="text" name="comentario" class="camposCadUsuario" placeholder="Digite..." />
    </div>
    
</div>