
.imgInicial {    
    margin-left: 1%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 33.33px;
    opacity: 0.45;
    width: 98%;
    height: 298px;
  
  }
.imgCirculoTelaInicial{
    width: 102%;    
    height: 152px;
}
.botaoEntrar{
  background-color: #39B54A;
  border:none;
  border-radius: 8px;
  width: 287.26px;
  height: 50px;  
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 5.33px;
  width: 287.84px;
  text-align: center;
}
h3{
  color: #47525E;
  font-family: Lato;
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  width: 179.69px;
  text-align: center;
  margin-left: 28%;
}


hr{
  float: center;
  height: 1px;
  background: black;
  border-width: 0;
  box-sizing: content-box;
}

.cadastroP{
  color: #969FAA;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.33px;
  width: 100%; 
}
.cadastroP a{
  color: #969FAA;
  font-family: Lato;
  font-size: 13.33px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}