<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img class="iconeHome" src="assets/icon/iconeHome.png" />
    </ion-tab-button>

    <ion-tab-button tab="cadastro">
      <img class="iconePesquisar" src="assets/icon/iconePesquisar.png" />
    </ion-tab-button>

    <ion-tab-button tab="">
      <img class="iconeSino" src="assets/icon/iconeSino.png" />
    </ion-tab-button>

    <ion-tab-button tab="">
      <img class="iconeMensagem" src="assets/icon/iconeMensagem.png" />
    </ion-tab-button>

    <ion-tab-button tab="">
      <label>Pag 5</label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>