.iconeHome {
    opacity: 0.51;
    width: 24.67px;
    height: 24.67px;
}

  .iconePesquisar {
    opacity: 0.58;
    width: 24.67px;
    height: 24.67px;
}
  
  .iconeSino {
    border-radius: 12px;
    opacity: 0.62;
    width: 24.67px;
    height: 24.67px;
}
  
  .iconeMensagem {
    opacity: 0.54;
    width: 24.67px;
    height: 24.67px;
}