.logoArvore{
  margin-top: 11%;
  max-width: 25%;
  border: 0;
  margin-left: 37%;
}

.nome{
  font-family: Lato;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  border: 0.5px dotted #969FAA;
  border-radius: 33.33px;
  width: 343.89px;
  height: 59.63px;
  margin-left: 5%;
  margin-top: 17%;
}

.senha{
  font-family: Lato;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  border: 0.5px dotted #969FAA;
  border-radius: 33.33px;
  width: 343.89px;
  height: 59.63px;
  margin-left: 4%;
  margin-top: 2%;
}

.esqueceuSenha{
  margin-left: -36%;
  font-size: 13px;
  position: absolute;
}

.nCadastro{
  margin-left: -73%;
  font-size: 0.9em;
  bottom: 105px;
  position: absolute;
}

.cardLogin{
  width:300px;
  border-radius:6px;
  background-color: transparent;
  margin-top: 10%;
}

.botaoLogin{
  background: #2ecc71;
  padding-top: 12px;
  padding-bottom: 5px;
  color: white;
  border-radius: 18px;
  border: #27ae60 1px solid;
  text-align: center;
  margin-top: 88px;
  margin-bottom: 20px;
  float: left;
  margin-left: 3%;
  font-weight: 800;
  font-size: 1em;
  height: 48px;
  width: 94%;
}
