<div class="logoArvore">
  <img src="assets/icon/logoArvore.png">
</div>

<div class="cardinfoLogin">
  <label class="informacaoLogin">Reduzir<br></label>
  <label class="informacaoLogin">Reutilizar<br></label>
  <label class="informacaoLogin">Reciclar</label>
</div>

<div class="cardLogin">
  <div class="cardSubLogin">
    <input type="text" name="nome" class="camposCadUsuario" placeholder="Nome" />
  </div>
  <div class="cardSubLogin">
    <input type="text" name="senha" class="camposCadUsuario" placeholder="Senha" />
  </div>
  <span class="esqueceuSenha"><u style="color:#3390FF;">Esqueceu sua senha? </u></span>
  <span class="nCadastro">Não possui cadastro? <u style="color:#3390FF;">Cadastre-se</u></span>
  <a href="#">
    <div class="botaoLogin">Login</div>
  </a>
</div>