<ion-content>
  <form method="post" action="index.html">
    <div class="box">

      <input type="email" name="email" value="Usuário" onFocus="field_focus(this, 'email');"
        onblur="field_blur(this, 'email');" class="email" />

      <input type="password" name="senha" value="senha" onFocus="field_focus(this, 'email');"
        onblur="field_blur(this, 'email');" class="email" />
      <br>
      <span class="esqueceuSenha"> Esqueceu sua senha? </span>

      <a href="#">
        <div class="btn">Login</div>
      </a> <!-- End Btn -->

    </div> <!-- End Box -->
    <span class="nCadastro">Não possui cadastro? <u style="color:#f1c40f;">Cadastre-se</u></span>
  </form>
</ion-content>