<img class="logoArvore" src="assets/icon/logoArvore.png" />
<ion-content>
  <form method="post" action="index.html">
    <div class="cardLogin">
      <input type="text" name="nome" class="nome" placeholder="Nome" />
    </div>
    <div class="cardSenha">
      <input type="text" name="senha" class="senha" placeholder="Senha" />
    </div>
    <span class="esqueceuSenha"><u style="color:#3390FF;">Esqueceu sua senha? </u></span>
    <span class="nCadastro">Não possui cadastro? <u style="color:#3390FF;">Cadastre-se</u></span>
    <a href="#">
      <div class="botaoLogin">Login</div>
    </a>
  </form>
</ion-content>