<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
      <ion-menu-button> <img class="iconeMenu"src="assets/iconeArvore.png" /> </ion-menu-button>
    </ion-buttons>
    <ion-title class="menu">      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>      
  <h3 class="titulo"> Evento destaque da semana</h3>
  <div class="cardEventosDestaquePai">
  <div class="cardEventosDestaque" id="teste"> 

    <div class="descricaoEventoDestaque">
      <p id="descEventoDestaque"></p>
    </div>
    </div> 
  </div>  
    <h3 class="titulo">Grupos Recentes</h3>

<div class="cardGruposRecentesPai">
    <br>
    <div class="cardGruposRecentes" id="cardGruposRecentes" style="padding-top: 5%">    
      <div class="descricaoGruposRecentes">
        <p id="descGrupoRecente"> </p>
        <input type="hidden" id="codigoGrupo" value="12"/> 
      </div>
    </div> 
  <br/>
    <div class="cardGruposRecentes" id="cardGruposRecentes2" style="padding-top: 5%">       
      <div class="descricaoGruposRecentes">
        <p id="descGrupoRecente2"> </p>
        <input type="hidden" id="codigoGrupo" value="6"/> 
      </div>  
    </div> 

    </div>
</ion-content>